<section class="comments">
    {% if site.data.comments[page.fileSlug] %}
    <!-- Existing comments -->
    <hr>
    <div class="comments__existing">
      <h2>Comments</h2>
      {% assign comments = site.data.comments[page.fileSlug] | objToArray | where: "replying_to", "" %}
      {% assign comments_by_date = comments | sortBy: 'date' | reverse %}

      <!-- List main comments in reverse date order, newest first. List replies in date order, oldest first. -->
      {% for comment in comments_by_date %}
      {% assign index       = forloop.length | plus: 1 | minus: forloop.index %}
      {% assign r           = comment.replying_to %}
      {% assign replying_to = r | to_integer %}
      {% assign email       = comment.email %}
      {% assign name        = comment.name %}
      {% assign url         = comment.url %}
      {% assign date        = comment.date %}
      {% assign message     = comment.message %}
      {% assign uid         = comment._id %}
      {% include 'comment', index: index, replying_to: replying_to, email: email, name: name, url: url, date: date, message: message, uid: uid %}
      {% endfor %}
    </div>
    {% endif %}
  
    <!-- New comment form -->
    <div id="respond" class="comment__new">
      {% include 'comment_form' %}
    </div>
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js" defer="true"></script>
  <script src="{{ '/assets/comments.min.js' | relative_url }}" defer="true"></script>
  <script src="https://www.google.com/recaptcha/api.js" defer="true"></script>