<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>{{pageTitle}}</title>
        <!-- capture the CSS content as a Nunjucks variable -->
        {% capture css %}
        {% include styles.css %}
        {% endcapture %}
        <!-- feed it through our cssmin filter to minify -->
        <style>
        {{ css | cssmin | safe }}
        {% if comments == true %}
            {% include comments.css %}
        {% endif %}
        </style>
    </head>
    <body>
        <main>
            <h1>{{ pageTitle }}</h1>
            {%- if page.url != '/' -%}
                 <a href="/">&#8592; Home</a>
            {%- endif -%}
            {{ content }}
        </main>
        <footer>
        {% if comments == true %}
            {% include comments.html %}
        {% endif %}
        </footer>
    </body>
</html>